.btn-emitir{
    font-family: Omnes-med;
    font-size: 16px;
    color: white;
    background-color: #ED1C24;
    width: 50%;
}

.text-1{
    font-family: Omnes-med;
    color: #4D4D4D;
    font-size: 22px;
}

