.log {
    height: 100vh;
    background: -webkit-linear-gradient(left, rgba(237, 28, 35, 0.3) 0%, rgba(176, 23, 56, 0.3) 36%, rgba(60, 71, 73, 0.3) 65%, rgba(60, 71, 73, 0.3) 100%);
}

.todo {
    background-image: url('src/assets/Images/login/fondo_login_v2.jpg');
    background-size: cover !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    height: auto !important;
    max-width: 100% !important;
    margin: 0px;
    background-repeat: no-repeat;
}




.img {
    max-width: 100%;
    height: auto;
}

#alinear {
    justify-content: end;
}

#centrar {
    justify-content: center;
}

#login {
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, .9) 0, rgba(255, 255, 255, .9) 100%);
    border-radius: 30px 0px 30px 0px;
}

input {
    border: none !important;
    width: 100%;

}

.raya {
    background: -webkit-linear-gradient(left, #ed1c23 0, #b01738 36%, #3c4749 100%);
    padding-left: 0 !important;
    padding-block: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 3px !important;
    position: relative;
    height: 3px;
}

.text-bienv {
    text-align: center;
    color: #767676;
    font-size: 18px;
    font-family: Omnes-med;
}

.btnIngresar {
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    font-family: Omnes-med;
    background: -webkit-linear-gradient(left, #ed1c23 0, #b01738 36%, #3c4749 100%);
}

.padre {
    border-radius: 30px 0;
    background: -webkit-linear-gradient(left, rgba(237, 28, 35, .7) 0, rgba(176, 23, 56, .7) 36%, rgba(60, 71, 73, .6) 65%, rgba(60, 71, 73, .5) 100%);
    color: #fff;
}

.subtext {
    text-align: center;
    color: #767676;
    font-size: 16px;
    font-family: Omnes-med;
}

.subtextDere {
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: Omnes-med;
}

.text-error {
    text-align: center;
    color: red;
    font-size: 15px;
    font-family: Omnes-med;
}



.subtextClick {
    text-align: center;
    color: #767676;
    font-size: 16px;
    font-family: Omnes-med;
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width:767px) {
    #imgPhone {
        text-align: center;
    }
}