<div class="row m-0 p-0 mt-4">
    <div class="col-lg-12 col-md-12 col-sm-12 m-0 p-0">
        <span class="fmm-text-1">Ordenar por</span><br/>
        <div class="btn-group" style="width: 100%;" dropdown>
            <button id="button-basic"
                    dropdownToggle
                    type="button"
                    class="btn bv-texto-2 dropdown-toggle box-shadow"
                    style="padding-bottom: 10px; padding-top: 10px;"
                    aria-controls="dropdown-basic">
              {{textoPrecio}}
            </button>
            <ul id="dropdown-basic"
                *dropdownMenu
                class="dropdown-menu fmm-text-2"
                style="cursor: pointer;width: 100%;text-align: center;"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" (click)="seleccionarPrecio('mas', 'menor a mayor precio')">Menor a mayor precio</a></li>
              <li role="menuitem"><a class="dropdown-item" (click)="seleccionarPrecio('menos', 'mayor a menor precio')">Mayor a menor precio</a></li>
            </ul>
          </div>
    </div>
</div>
