<div class="row m-0 p-0">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 m-0 p-0">
        <div class="row m-0 p-0">
            <div class="col-lg-3 col-md-12 col-sm-12 col-12 m-0">
                <div class="row m-0 p-0">
                    <app-search-flight-lower  *ngIf="validTypeFlight"
                     (ocultar)="ocultarComponentes($event)" [lstMultidestino]="lstMultidestino" [tipoVuelo]="tipoVuelo"  
                     (enviarData)="validShowFlights($event)"></app-search-flight-lower>
                </div>
                <div *ngIf="validFlights" class="row m-0 p-0">
                    <app-order-price [searchFlight]="lstFlights" (searchFlightFilter)="busquedaFiltros($event)"></app-order-price>
                </div>
                <div *ngIf="validFlights" class="row m-0 p-0 mt-3">
                    <app-filter-hour  (searchFilter)="busquedaFiltros($event)" [tipoVuelo]="tipoVuelo" [request]="request"  [indexTramo]="indexTramo"></app-filter-hour>
                </div>
                <div *ngIf="validFlights" class="row m-0 p-0 mt-3">
                    <app-filter-airline [lstAerolineas]="aerolineas" [searchFlight]="lstFlights" ></app-filter-airline>
                </div>
            </div>
            <div *ngIf="validFlights" class="col-lg-9 col-md-12 col-sm-12 col-12 m-0">
                <div *ngIf="pseudos?.length > 0" class="row m-0 p-0 mt-4">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 m-0 p-0 box-shadow-important">
                        <app-pseudos [pseudoRepeat]="pseudos"></app-pseudos>
                    </div>
                </div>
                <div id="calendar" class="row m-0 p-0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <app-calendar-flights *ngIf="validCalendar" (fechas)="onSelectDate($event)" [buscador]="request"
                            [calendar]="lstCalendar" [salida]="llowCostAirlines"></app-calendar-flights>
                    </div>
                </div>
                <div  class="row m-0 p-0">
                    <div *ngIf="lstFlights.length > 0" class="col-lg-12 col-md-12 col-sm-12 col-12 m-0 p-0">
                        <app-filter-time [searchFlight]="lstFlights" [request]="request" [tipoEscala]="request.Scales"
                            (refreshdata)="Datafiltrosuperior($event)"
                            (searchFilter)="busquedaFiltros($event)"></app-filter-time>
                    </div>
                    <div *ngIf="flagDinData2" class="col-lg-12 col-md-12 col-sm-12 col-12 m-0 p-0 mt-3">

                        <div class="row m-0 p-0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 m-0 p-0 text-center">
                                <alert type="warning" class="text-center">
                                    No se encontraron itinerarios para esta búsqueda
                                </alert>
                            </div>

                        </div>

                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 m-0 p-0 mt-3">
                        <app-recommendation *ngFor="let recomendacion of lstFlights; let i = index" [request]="request"
                            [isVisible]="recomendacion.isVisible" [currency]="recomendacion.oprice.currency"
                            [totalFareAmount]="recomendacion.oprice.totalAmount"
                            [totalTaxAmount]="recomendacion.oprice.totalTaxAmount"
                            [fareAmountByPassenger]="recomendacion.oprice.baseAmount" [recomen]="recomendacion"
                            [fareTaxAmountByPassenger]="recomendacion.lpassengerPrices[0].baseAmount"
                            [carrierId]="recomendacion.ocarrier.carrierId"
                            [numberPassengers]="recomendacion.lpassengerPrices[0].quantity"
                            [pseudo]="recomendacion.pseudo" [gds]="recomendacion.gds"
                            [flightNational]="recomendacion.flightNational" [lsections]="recomendacion.lsections"
                            [lsectionLength]="recomendacion.lsections.length" [lpolicies]="recomendacion.lpolicies"
                            [internationalPrice]="recomendacion.oprice.ointernationalPrice"
                            [recommendationId]="recomendacion.recommendationId" [tipoVuelo]="tipoVuelo"
                            [pseudoRepeat]="recomendacion.lpseudoRepeats" [index]='i + 1'>
                        </app-recommendation>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>