<div class="seccion">
    <div class="row m-0 p-0 mt-5">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 m-0 p-0">
            <span (click)="volver()" class="back">Volver</span>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 p-0">
            <span class="title-form">Confirme su vuelo</span>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 p-0">
            <img class="img-airplane mr-3" src="/assets/Images/flight/airplane_ida.svg" alt=""><span class="title-form">Mi vuelo</span>
        </div>
    </div>
    <div class="row m-0 p-0 mt-3">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 m-0 p-0">
            <div class="row m-0 p-0">
                <div *ngIf="validPassenger" class="col-lg-8 col-md-7 col-sm-7 col-12 m-0 p-0">
                   
                    <div  class="row m-0 p-0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 m-0 p-0 mb-4 banner-data">
                            <app-modal-section [tipo]="2" *ngFor="let section of flight.lsections" [section]="section"></app-modal-section>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 m-0 p-0 mb-4 banner-data">
                            <app-approvers-policies *ngIf="lpolicies.length > 0 || lapprovers.length > 0" 
                                [aproverValid]="true" [data]="company" [tipo]="1" [updateAproval]="updateAproval"  [currency]="currency"  [lpolicies]="lpolicies" [lapprovers]="lapprovers"></app-approvers-policies>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-5 col-sm-5 col-12">

                    <div *ngIf="validPassenger" class="row m-0 p-0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 m-0 p-0 banner-data">
                            <app-detail-price [flight]="flight"></app-detail-price>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 m-0 p-0 mt-5 banner-data">
                            <app-detail-passengers  [lsusers]="datosuser"></app-detail-passengers>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-0 p-0">
                <div *ngIf="lapprovers?.length === 0" class="col-lg col-md col-sm col m-0 p-0 mt-3 mb-3 text-center">
                    <span class="next">Reservar</span>
                </div>
                
                <div *ngIf="lapprovers?.length === 0" class="col-lg col-md col-sm col m-0 p-0 mt-3 mb-3 text-center">
                    <span class="btnEmit">Emitir</span>
                </div>
                <div *ngIf="lapprovers?.length > 0" class="col-lg col-md col-sm col m-0 p-0 mt-3 mb-3 text-center">
                    <span class="next">Enviar Solicitud</span>
                </div>
            </div>
        </div>
    </div>
</div>

