<div class="row m-0 p-0">
  <div class="col-lg-6 col-md-6 col-sm-5 col-6 r-div-pxa text-center">
    <span class="">Precio Final</span>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-7 col-6 text-center">
    <img (click)="openModalDsctCop(templateDsctCorp)" class="medal pr-2" tooltip="Vuelo con descuento corporativo."
      *ngIf="lsections[0].lschedules[0].lsegments[0].fareType==='RB'" src="assets/Images/flight/medalla.svg" alt="">

    <span tooltip="Vuelo con infracción de políticas." (click)="openModalPoliticas(modalPolitica)"
      *ngIf="lpolicies != null && lpolicies.length>0" class="circulo-politica pl-1 r-span-1"></span>
    <span tooltip="El vuelo cumple las políticas de viaje de la empresa."
      *ngIf="lpolicies != null && lpolicies.length===0" class="circulo-politica1 pl-1 r-span-2"></span>
  </div>
</div>
<div id="priceWeb" class="section">
  <div class="row m-0 p-0">
    <div class="col-lg-12 col-md-12 col-sm-12 col-6 text-end">
      <span *ngIf="internationalPrice != null" class="text-currency pr-1">{{internationalPrice.currency}}</span>
      <span *ngIf="internationalPrice != null" class="text-currency-monto">{{internationalPrice.finalAmount}}</span>
      <img *ngIf="internationalPrice != null" class="aster"
        tooltip="Todos los precios están sujetos a posibles modificaciones." src="assets/Images/flight/asterisco.svg">
      <span *ngIf="internationalPrice === null" class="text-currency pr-1">{{currency}}</span>
      <span *ngIf="recomen.oprice.lpriceByPayments === null;else finalTemplate" class="text-currency-monto"
        style="color: #898989">{{totalFareAmount}}</span>
      <ng-template #finalTemplate>
        <span class="text-currency-monto">{{recomen.oprice.lpriceByPayments[0].finalAmount}}</span>
      </ng-template>

    </div>
  </div>

  <div class="row m-0 p-0">
    <div class="col-lg-12 col-md-12 col-sm-12 col-6 text-end">
      <span class="text-per-person pr-4">Precio por adulto</span>
      <span *ngIf="internationalPrice != null" class="text-currency-2 pr-1">{{internationalPrice.currency}}</span>
      <span *ngIf="internationalPrice != null"
        class="text-currency-monto-2">{{internationalPrice.priceByPassenger}}</span>
      <span *ngIf="internationalPrice === null" class="text-currency-2 pr-1">{{currency}}</span>
      <span *ngIf="internationalPrice === null" class="text-currency-monto-2">{{fareTaxAmountByPassenger}}</span>
    </div>
  </div>

  <div *ngIf="internationalPrice != null" class="row m-0 p-0">
    <div class="col-lg-12 col-md-12 col-sm-12 col-6 text-end">
      <span class="text-per-person pr-4">Cargos Admin.</span>
      <span class="text-currency-2 pr-1">{{internationalPrice.currency}}</span>
      <span class="text-currency-monto-2">{{internationalPrice.chargesAmount}}</span>
    </div>
  </div>

  <div *ngIf="internationalPrice === null && recomen.oprice.lpriceByPayments != null" class="row m-0 p-0">
    <div class="col-lg-12 col-md-12 col-sm-12 col-6 text-end">
      <span class="text-per-person pr-4">Cargos Admin.</span>
      <span class="text-currency-2 pr-1">{{currency}}</span>
      <span class="text-currency-monto-2">{{recomen.oprice.lpriceByPayments[0].chargesAmount}}</span>
    </div>
  </div>

  <div *ngIf="internationalPrice != null" class="row m-0 p-0 mt-3">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      <img tooltip="Todos los precios están sujetos a posibles modificaciones." src="assets/Images/flight/asterisco.svg"
        style="width: 13px; cursor:pointer;">
      <span class="text-currency-detalle">
        La tarifa se confirmará al momento de la selección.</span>
    </div>
  </div>

  <div *ngIf="internationalPrice != null" class="row m-0 p-0 mt-3">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      <img tooltip="Todos los precios están sujetos a posibles modificaciones." src="assets/Images/flight/asterisco.svg"
        style="width: 13px; cursor:pointer;">
      <span class="text-currency-detalle">
        Precio referencial en {{internationalPrice.currencyConvertion}} {{internationalPrice.referencePrice}}"</span>
    </div>
  </div>
</div>


<div class="row m-0 p-0 mt-4">
  <div id="pricePhone" class="col-lg-12 col-md-12 col-sm-12 col-7 m-0 p-0">
    <div class="row m-0 p-0">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <span *ngIf="internationalPrice != null" class="text-currency pr-1">{{internationalPrice.currency}}</span>
        <span *ngIf="internationalPrice != null" class="text-currency-monto">{{internationalPrice.finalAmount}}</span>
        <img *ngIf="internationalPrice != null" class="aster"
          tooltip="Todos los precios están sujetos a posibles modificaciones." src="assets/Images/flight/asterisco.svg">
        <span *ngIf="internationalPrice === null" class="text-currency pr-1">{{currency}}</span>
        <span *ngIf="recomen.oprice.lpriceByPayments === null;else finalTemplate" class="text-currency-monto"
          style="color: #898989">{{totalFareAmount}}</span>
        <ng-template #finalTemplate>
          <span class="text-currency-monto">{{recomen.oprice.lpriceByPayments[0].finalAmount}}</span>
        </ng-template>
  
      </div>
    </div>
  
    <div class="row m-0 p-0">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <span class="text-per-person pr-1">Precio por adulto</span>
        <span *ngIf="internationalPrice != null" class="text-currency-2 pr-1">{{internationalPrice.currency}}</span>
        <span *ngIf="internationalPrice != null"
          class="text-currency-monto-2">{{internationalPrice.priceByPassenger}}</span>
        <span *ngIf="internationalPrice === null" class="text-currency-2 pr-1">{{currency}}</span>
        <span *ngIf="internationalPrice === null" class="text-currency-monto-2">{{fareTaxAmountByPassenger}}</span>
      </div>
    </div>
  
    <div *ngIf="internationalPrice != null" class="row m-0 p-0">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <span class="text-per-person pr-4">Cargos Admin.</span>
        <span class="text-currency-2 pr-1">{{internationalPrice.currency}}</span>
        <span class="text-currency-monto-2">{{internationalPrice.chargesAmount}}</span>
      </div>
    </div>
  
    <div *ngIf="internationalPrice === null && recomen.oprice.lpriceByPayments != null" class="row m-0 p-0">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <span class="text-per-person pr-4">Cargos Admin.</span>
        <span class="text-currency-2 pr-1">{{currency}}</span>
        <span class="text-currency-monto-2">{{recomen.oprice.lpriceByPayments[0].chargesAmount}}</span>
      </div>
    </div>
  
    
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-5">
    <div class="row m-0 p-0">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center family">
        Ver familias
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-2 mb-4 text-center select">
        Seleccionar
      </div>
    </div>
  </div>

  <div id="pricePhone" class="col-12">
    <div *ngIf="internationalPrice != null" class="row m-0 p-0 mt-3">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <img tooltip="Todos los precios están sujetos a posibles modificaciones." src="assets/Images/flight/asterisco.svg"
          style="width: 13px; cursor:pointer;">
        <span class="text-currency-detalle">
          La tarifa se confirmará al momento de la selección.</span>
      </div>
    </div>
  
    <div *ngIf="internationalPrice != null" class="row m-0 p-0 mt-3">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <img tooltip="Todos los precios están sujetos a posibles modificaciones." src="assets/Images/flight/asterisco.svg"
          style="width: 13px; cursor:pointer;">
        <span class="text-currency-detalle">
          Precio referencial en {{internationalPrice.currencyConvertion}} {{internationalPrice.referencePrice}}"</span>
      </div>
    </div> 
  </div>
  
</div>

<div id="priceWeb" class="row m-0 p-0 mt-5">
  <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-end">
    <span class="num-vuelo">{{index}}</span>
  </div>
</div>
<div id="priceWeb" class="rowm m-0 p-0 mt-4 mb-5">
  <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-end">
    <span class="namegds">{{gds}}</span>

  </div>
</div>



<ng-template #modalPolitica let-c="close" let-d="dismiss">

  <div class="modal-header pb-0" style="border: none;">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefPoliticas.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body m-0 p-0">

    <div class="row m-0 p-0 pb-3">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center textModalPol">
        <u>Infracción de Políticas de Viaje</u>
      </div>
    </div>

    <div class="row m-0 p-0">

      <!--   <app-recomendacion-politicas [politica]="politica" [politicaIndex]="i+1"
                [politicaslength]="lpolicies.length"
                *ngFor="let politica of lpolicies; let i=index"></app-recomendacion-politicas> -->

    </div>

  </div>

</ng-template>

<ng-template #templateDsctCorp>
  <div class="modal-header d-flex align-items-center">
    <img src="assets/Images/flight/medalla.svg" alt="" class="imgDesCorp">
    <h4 class="modal-title pull-left" style="font-family: Omnes-med !important;">Convenio Corporativo</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefDsctCorp.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body textCorp">
    <p>
      La medalla indica que el vuelo tiene un descuento especial para su empresa, el cual no encontrará en vuelos
      publicados.
    </p>

    <p>
      Comunmente son los acuerdos iniciales que se realizan con cada aerolínea.
    </p>
  </div>

  <div class="modal-footer text-right">
    <button (click)="modalRefDsctCorp.hide()" class="btn">
      Entendido
    </button>
  </div>
</ng-template>

<ng-template #templateSinFares>
  <div class="modal-header d-flex align-items-center">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefSinFares.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body text-pol">
    <p>
      La aerolínea no dispone de familias tarifarias.
    </p>
  </div>

  <div class="modal-footer text-right">
    <button (click)="modalRefSinFares.hide()" class="btn btnFares">
      Entendido
    </button>
  </div>
</ng-template>

<ng-template #alertPoliticas>
  <div class="modal-header d-flex align-items-center">
    <button type="button" class="close pull-right" aria-label="Close" (click)="this.modalAlertPoli.hide();">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body text-pol">
    <p>
      LA RECOMENDACIÓN SELECCIONADA ESTÁ INFRINGIENDO LAS POLÍTICAS CONFIGURADAS POR SU EMPRESA. ¿DESEA CONTINUAR?”
    </p>
  </div>

  <div class="modal-footer text-right">
    <div style="width: 100%;display: flex;">
      <div style="width: 50%;">
        <button (click)="this.modalAlertPoli.hide();" class="btn-alert-pol">
          CANCELAR
        </button>
      </div>
      <div style="width: 50%;">
        <button (click)="getFlightAvailabilityPoli()" class="btn-alert-pol">
          CONTINUAR
        </button>
      </div>
    </div>


  </div>
</ng-template>

<ng-template #modalerror let-c="close" let-d="dismiss">

  <div class="modal-header pb-0" style="border: none;">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body m-0 p-0">
    <div class="row m-0 p-0">
      <div class="col-12 m-0 p-0 pb-4 text-center r-text-sinfam-1">
        ¡Lo sentimos!
      </div>

      <div class="col-12 m-0 p-0 pb-4 text-center r-text-sinfam-2">
        No hemos encontrado disponibilidad
      </div>

      <div class="col-12 m-0 p-0 pb-4 text-center">
        <button class="btn r-btn-sinfam-1" (click)="modalRef.hide()">
          <img src="assets/Images/flight/buscador-musical.svg" alt="" style="width: 15px">
          Continuar con mi busqueda
        </button>
      </div>
    </div>
  </div>

</ng-template>