<div class="row m-0 p-3 box-shadow">
    <div class="col-lg-12 col-md-12 col-sm-12 m-0 p-0 fae-text-1">
        <u class="fae-text-1">Aerolíneas</u>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 m-0 p-0">
        <label>
            <input class="fae-text-2" [(ngModel)]="checkAll" type="checkbox" name="" (change)="filtrarAerolinea('all', $event)" value="all"> Todas<br>
          </label>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 m-0 p-0" *ngFor="let aerolinea of lstAerolineas">
        <label class="">
            <input class="checkuno fae-text-2" [id]="aerolinea.carrierId" type="checkbox" (change)="filtrarAerolinea(aerolinea.carrierId, $event)" name="checkuno" [value]="aerolinea.carrierId"> {{aerolinea.carrierName}}<br>
          </label>
    </div>
</div>