<!-- <div class="row m-0 p-0">
    <div class="col-lg-6 col-md-6 col-sm-5 col-6 r-div-pxa text-center">
        <span class="">Precio Final</span>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-7 col-6 text-center">
        <img (click)="openModalDsctCop(templateDsctCorp)" class="medal pr-2" tooltip="Vuelo con descuento corporativo."
            *ngIf="lsections[0].lschedules[0].lsegments[0].fareType==='RB'" src="assets/Images/flight/medalla.svg"
            alt="">

        <span tooltip="Vuelo con infracción de políticas." (click)="openModalPoliticas(modalPolitica)"
            *ngIf="lpolicies != null && lpolicies.length>0" class="circulo-politica pl-1 r-span-1"></span>
        <span tooltip="El vuelo cumple las políticas de viaje de la empresa."
            *ngIf="lpolicies != null && lpolicies.length===0" class="circulo-politica1 pl-1 r-span-2"></span>
    </div>
</div>
<div id="priceWeb" class="section">
    <div class="row m-0 p-0">
        <div class="col-lg-12 col-md-12 col-sm-12 col-6 text-end">
            <span *ngIf="internationalPrice != null" class="text-currency pr-1">{{internationalPrice.currency}}</span>
            <span *ngIf="internationalPrice != null"
                class="text-currency-monto">{{internationalPrice.finalAmount}}</span>
            <img *ngIf="internationalPrice != null" class="aster"
                tooltip="Todos los precios están sujetos a posibles modificaciones."
                src="assets/Images/flight/asterisco.svg">
            <span *ngIf="internationalPrice === null" class="text-currency pr-1">{{currency}}</span>
            <span *ngIf="recomen.oprice.lpriceByPayments === null;else finalTemplate" class="text-currency-monto"
                style="color: #898989">{{totalFareAmount}}</span>
            <ng-template #finalTemplate>
                <span class="text-currency-monto">{{recomen.oprice.lpriceByPayments[0].finalAmount}}</span>
            </ng-template>

        </div>
    </div>

    <div class="row m-0 p-0">
        <div class="col-lg-12 col-md-12 col-sm-12 col-6 text-end">
            <span class="text-per-person pr-4">Precio por adulto</span>
            <span *ngIf="internationalPrice != null" class="text-currency-2 pr-1">{{internationalPrice.currency}}</span>
            <span *ngIf="internationalPrice != null"
                class="text-currency-monto-2">{{internationalPrice.priceByPassenger}}</span>
            <span *ngIf="internationalPrice === null" class="text-currency-2 pr-1">{{currency}}</span>
            <span *ngIf="internationalPrice === null" class="text-currency-monto-2">{{fareTaxAmountByPassenger}}</span>
        </div>
    </div>

    <div *ngIf="internationalPrice != null" class="row m-0 p-0">
        <div class="col-lg-12 col-md-12 col-sm-12 col-6 text-end">
            <span class="text-per-person pr-4">Cargos Admin.</span>
            <span class="text-currency-2 pr-1">{{internationalPrice.currency}}</span>
            <span class="text-currency-monto-2">{{internationalPrice.chargesAmount}}</span>
        </div>
    </div>

    <div *ngIf="internationalPrice === null && recomen.oprice.lpriceByPayments != null" class="row m-0 p-0">
        <div class="col-lg-12 col-md-12 col-sm-12 col-6 text-end">
            <span class="text-per-person pr-4">Cargos Admin.</span>
            <span class="text-currency-2 pr-1">{{currency}}</span>
            <span class="text-currency-monto-2">{{recomen.oprice.lpriceByPayments[0].chargesAmount}}</span>
        </div>
    </div>

    <div *ngIf="internationalPrice != null" class="row m-0 p-0 mt-3">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <img tooltip="Todos los precios están sujetos a posibles modificaciones."
                src="assets/Images/flight/asterisco.svg" style="width: 13px; cursor:pointer;">
            <span class="text-currency-detalle">
                La tarifa se confirmará al momento de la selección.</span>
        </div>
    </div>

    <div *ngIf="internationalPrice != null" class="row m-0 p-0 mt-3">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <img tooltip="Todos los precios están sujetos a posibles modificaciones."
                src="assets/Images/flight/asterisco.svg" style="width: 13px; cursor:pointer;">
            <span class="text-currency-detalle">
                Precio referencial en {{internationalPrice.currencyConvertion}}
                {{internationalPrice.referencePrice}}"</span>
        </div>
    </div>
</div> -->