<div class="row m-0 p-0 mt-5">
    <div class="{{general}}">
        <div class="row m-0 p-0">
            <div class="col-lg-2 m-0 p-0">
                <span class="title">Vuelos</span>
            </div>
            <div class="col-lg-2 m-0 p-0">
                <div class="radio-item">
                    <input (click)="seleccionarTipoVuelo('RT')" type="radio" id="ritema" name="ritem" value="RT">
                    <label for="ritema">Ida & Vuelta</label>
                </div>
            </div>
            <div class="col-lg-2 m-0 p-0">
                <div class="radio-item">
                    <input (click)="seleccionarTipoVuelo('OW')" type="radio" id="ritemb" name="ritem" value="OW">
                    <label for="ritemb">Sólo ida</label>
                </div>
            </div>
            <div class="col-lg-2 m-0 p-0">
                <div class="radio-item">
                    <input (click)="seleccionarTipoVuelo('MC')" type="radio" id="ritemc" name="ritem" value="MC">
                    <label for="ritemc">Multidestinos</label>
                </div>
            </div>
        </div>
        <div class="row m-0 p-0 mt-4">
            <div class="col-lg-4 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-lg-2 m-0 p-0 centr">
                        <span class="titles">Origen</span>
                    </div>
                    <div class="col-lg-9 m-0 p-0">
                        <ng-autocomplete [(ngModel)]="model.origentTexto" triggers="" style="color: #898989 !important;"
                        [data]="data" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                        (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                        [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                    </ng-autocomplete>

                    <ng-template #itemTemplate let-item>

                        <div class="" style="width: 100%">
                            <div class="row">
                                <div class="col-1">
                                    <img *ngIf="item.categoryId===2;" style="width: 25px; padding-right: 5px;"
                                        src="assets/Images/seeker/ciudad1.png" alt="">
                                    <img *ngIf="item.categoryId===1" style="width: 25px; padding-right: 5px;"
                                        src="assets/Images/seeker/aeropuerto2.jpeg" alt="">
                                </div>
                                <div class="col-11">
                                    <a class="m-0 p-0" [innerHTML]="item.name"></a>
                                </div>
                            </div>
                        </div>
                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                    </ng-template>
                    </div>
                </div>
                
              
                    
               
            </div>
            <div class="col-lg-4 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-lg-2 m-0 p-0 centr">
                        <span class="titles">Destino</span>
                    </div>
                    <div class="col-lg-9 m-0 p-0">
                        <ng-autocomplete [(ngModel)]="model.destinoTexto" style="color: #898989 !important;" [data]="data2"
                        [searchKeyword]="keyword" (selected)='selectEventDestino($event)' (inputChanged)='onChangeSearchDestino($event)'
                        (inputFocused)='onFocused2($event)' [itemTemplate]="itemTemplate2"
                        [notFoundTemplate]="notFoundTemplate2">
                      </ng-autocomplete>
    
                      <ng-template #itemTemplate2 let-item>
                        <div class="" style="width: 100%">
                          <div class="row">
                            <div class="col-1">
                              <img *ngIf="item.categoryId===2" style="width: 25px; padding-right: 5px;"
                                src="./assets/images/ciudad1.png" alt="">
                              <img *ngIf="item.categoryId===1" style="width: 25px; padding-right: 5px;"
                                src="./assets/images/aeropuerto2.jpeg" alt="">
                            </div>
                            <div class="col-11">
                              <a class="m-0 p-0" [innerHTML]="item.name"></a>
                            </div>
                          </div>
                        </div>
                      </ng-template>
    
                      <ng-template #notFoundTemplate let-notFound>
                     
                      </ng-template>
    
                      <ng-template #notFoundTemplate2 let-notFound>
                       
                      </ng-template>
                    </div>
                </div>
               
            </div>
            <div class="col-lg-4 m-0 p-0">
                <span class="titles">Fechas</span>
            </div>
        </div>
    </div>
</div>