<div class="seccion">
    <div class="row m-0 p-0 mt-5">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 m-0 p-0">
            <span class="back">Volver</span>
        </div>
    </div>
    <div class="row m-0 p-0 mt-5">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 m-0 p-0">
            <div class="row m-0 p-0">
                <div class="col-lg-7 col-md-7 col-sm-7 col-12 m-0 p-0">
                    <div class="row m-0 p-0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 banner">
                            <span class="title-form">Datos del pasajero</span>
                        </div>
                    </div>
                    <div class="row m-0 p-0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 m-0 p-0 banner-data">
                            <app-passenger-data></app-passenger-data>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-12 m-0 p-0">
                    <div class="row m-0 p-0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                           <!--  <app-final-price></app-final-price> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

